# pandas-practice

Use the "Run" button to execute the code.

In [1]:
%pip install jovian --upgrade --quiet

Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.0.2 is available.
You should consider upgrading via the 'C:\Users\advai\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
import jovian

In [3]:
#restart the kernel after installation
%pip install pandas-profiling --upgrade --quiet

Note: you may need to restart the kernel to use updated packages.

  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\advai\AppData\Local\Programs\Python\Python310\python.exe' 'C:\Users\advai\AppData\Local\Programs\Python\Python310\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py' build_wheel 'C:\Users\advai\AppData\Local\Temp\tmp4xmtmpsu'
       cwd: C:\Users\advai\AppData\Local\Temp\pip-install-0dcxsg7_\phik_c2a7854d18c2467eb2e585b366f71e06
  Complete output (88 lines):
  running bdist_wheel
  running build
  running build_py
  running egg_info
  writing phik.egg-info\PKG-INFO
  writing dependency_links to phik.egg-info\dependency_links.txt
  writing entry points to phik.egg-info\entry_points.txt
  writing requirements to phik.egg-info\requires.txt
  writing top-level names to phik.egg-info\top_level.txt
  reading manifest file 'phik.egg-info\SOURCES.txt'
  reading manifest template 'MANIFEST.in'
  warning: no previously-included files matching '*.py[cod]' found anywhere in distribution
  warning: no previously-included files matching '__pycache__' found anywhere in distribution
  warning: no previously-included files matching '*.so' found anywhere in distribution
  warning: no previously-included files found matching 'docs'
  warning: no previously-included files found matching 'tests'
  warning: no previously-included files found matching '.readthedocs.yml'
  warning: no previously-included files matching '*.py' found under directory 'tests'
  warning: no previously-included files matching '*' found under directory 'docs'
  adding license file 'LICENSE'
  adding license file 'NOTICE'
  running build_ext
  -- Building for: NMake Makefiles
  CMake Error at CMakeLists.txt:3 (PROJECT):
    Generator

      NMake Makefiles

    does not support platform specification, but platform

      x64

    was specified.


  CMake Error: CMAKE_CXX_COMPILER not set, after EnableLanguage
  -- Configuring incomplete, errors occurred!
  See also "C:/Users/advai/AppData/Local/Temp/pip-install-0dcxsg7_/phik_c2a7854d18c2467eb2e585b366f71e06/build/temp.win-amd64-3.10/Release/CMakeFiles/CMakeOutput.log".
  Traceback (most recent call last):
    File "C:\Users\advai\AppData\Local\Programs\Python\Python310\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py", line 349, in <module>
      main()
    File "C:\Users\advai\AppData\Local\Programs\Python\Python310\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py", line 331, in main
      json_out['return_val'] = hook(**hook_input['kwargs'])
    File "C:\Users\advai\AppData\Local\Programs\Python\Python310\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py", line 248, in build_wheel
      return _build_backend().build_wheel(wheel_directory, config_settings,
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\build_meta.py", line 229, in build_wheel
      return self._build_with_temp_dir(['bdist_wheel'], '.whl',
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\build_meta.py", line 214, in _build_with_temp_dir
      self.run_setup()
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\build_meta.py", line 157, in run_setup
      exec(compile(code, __file__, 'exec'), locals())
    File "setup.py", line 265, in <module>
      setup(ext_modules=EXTERNAL_MODULES, **setup_args)
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\__init__.py", line 155, in setup
      return distutils.core.setup(**attrs)
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\_distutils\core.py", line 148, in setup
      return run_commands(dist)
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\_distutils\core.py", line 163, in run_commands
      dist.run_commands()
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\_distutils\dist.py", line 967, in run_commands
      self.run_command(cmd)
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\_distutils\dist.py", line 986, in run_command
      cmd_obj.run()
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\wheel\bdist_wheel.py", line 299, in run
      self.run_command('build')
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\_distutils\cmd.py", line 313, in run_command
      self.distribution.run_command(command)
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\_distutils\dist.py", line 986, in run_command
      cmd_obj.run()
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\_distutils\command\build.py", line 135, in run
      self.run_command(cmd_name)
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\_distutils\cmd.py", line 313, in run_command
      self.distribution.run_command(command)
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\_distutils\dist.py", line 986, in run_command
      cmd_obj.run()
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\command\build_ext.py", line 79, in run
      _build_ext.run(self)
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\_distutils\command\build_ext.py", line 339, in run
      self.build_extensions()
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\_distutils\command\build_ext.py", line 448, in build_extensions
      self._build_extensions_serial()
    File "C:\Users\advai\AppData\Local\Temp\pip-build-env-obo9t9u4\overlay\Lib\site-packages\setuptools\_distutils\command\build_ext.py", line 473, in _build_extensions_serial
      self.build_extension(ext)
    File "setup.py", line 159, in build_extension
      subprocess.check_call(
    File "C:\Users\advai\AppData\Local\Programs\Python\Python310\lib\subprocess.py", line 369, in check_call
      raise CalledProcessError(retcode, cmd)
  subprocess.CalledProcessError: Command '['cmake', 'C:\\Users\\advai\\AppData\\Local\\Temp\\pip-install-0dcxsg7_\\phik_c2a7854d18c2467eb2e585b366f71e06', '-Dpybind11_DIR=C:\\Users\\advai\\AppData\\Local\\Temp\\pip-build-env-obo9t9u4\\overlay\\Lib\\site-packages\\pybind11\\share\\cmake\\pybind11', '-DCMAKE_LIBRARY_OUTPUT_DIRECTORY=C:\\Users\\advai\\AppData\\Local\\Temp\\pip-install-0dcxsg7_\\phik_c2a7854d18c2467eb2e585b366f71e06\\build\\lib.win-amd64-3.10\\phik\\lib', '-DPYTHON_EXECUTABLE=C:\\Users\\advai\\AppData\\Local\\Programs\\Python\\Python310\\python.exe', '-DPHIK_VERSION_INFO=0.12.0', '-DCMAKE_BUILD_TYPE=Release', '-A', 'x64', '-DCMAKE_LIBRARY_OUTPUT_DIRECTORY_RELEASE=C:\\Users\\advai\\AppData\\Local\\Temp\\pip-install-0dcxsg7_\\phik_c2a7854d18c2467eb2e585b366f71e06\\build\\lib.win-amd64-3.10\\phik\\lib']' returned non-zero exit status 1.
  ----------------------------------------
  ERROR: Failed building wheel for phik
ERROR: Could not build wheels for phik which use PEP 517 and cannot be installed directly
WARNING: You are using pip version 21.2.4; however, version 22.0.2 is available.
You should consider upgrading via the 'C:\Users\advai\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [4]:
from urllib.request import urlretrieve

In [5]:
italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'

urlretrieve(italy_covid_url, 'italy-covid-daywise.csv')

('italy-covid-daywise.csv', <http.client.HTTPMessage at 0x18fe089bb50>)

In [6]:
import pandas as pd

In [7]:
covid_df = pd.read_csv('italy-covid-daywise.csv')

In [8]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [9]:
from urllib.request import urlretrieve

urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x18ff0991de0>)

In [10]:
countries_df = pd.read_csv('countries.csv')

In [11]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

In [12]:
num_countries = countries_df.shape

In [13]:
print(num_countries)

(210, 6)

In [14]:
print('There are {} countries in the dataset'.format(num_countries))

There are (210, 6) countries in the dataset

In [15]:
continents = countries_df.continent.unique

In [16]:
print(continents)

<bound method Series.unique of 0        Asia
1      Europe
2      Africa
3      Europe
4      Africa
        ...
205      Asia
206    Africa
207      Asia
208    Africa
209    Africa
Name: continent, Length: 210, dtype: object>

In [17]:
total_population = countries_df.population.sum()

In [18]:
print(total_population)

7757980095.0

In [19]:
print('the total population is {}.'.format(int(total_population)))

the total population is 7757980095.

In [20]:
most_populous_df = countries_df[countries_df.population > 50000000]

In [21]:
most_populous_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452
41,China,Asia,1.439324e+09,76.91,4.34,15308.712
42,Colombia,South America,5.088288e+07,77.29,1.71,13254.949
52,Democratic Republic of Congo,Africa,8.956140e+07,60.68,NaN,808.133
58,Egypt,Africa,1.023344e+08,71.99,1.60,10550.206
63,Ethiopia,Africa,1.149636e+08,66.60,0.30,1729.927
68,France,Europe,6.527351e+07,82.66,5.98,38605.671
73,Germany,Europe,8.378394e+07,81.33,8.00,45229.245
90,India,Asia,1.380004e+09,69.66,0.53,6426.674
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744
92,Iran,Asia,8.399295e+07,76.68,1.50,19082.620
97,Italy,Europe,6.046183e+07,83.51,3.18,35220.084
99,Japan,Asia,1.264765e+08,84.63,13.05,39002.223
103,Kenya,Africa,5.377130e+07,66.70,1.40,2993.028
125,Mexico,North America,1.289328e+08,75.05,1.38,17336.469
133,Myanmar,Asia,5.440979e+07,67.13,0.90,5591.597
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708
151,Philippines,Asia,1.095811e+08,71.23,1.00,7599.188
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954
174,South Africa,Africa,5.930869e+07,64.13,2.32,12294.876
175,South Korea,Asia,5.126918e+07,83.03,12.27,35938.374
187,Tanzania,Africa,5.973421e+07,65.46,0.70,2683.304
188,Thailand,Asia,6.979998e+07,77.15,2.10,16277.671
193,Turkey,Asia,8.433907e+07,77.69,2.81,25129.341
198,United Kingdom,Europe,6.788600e+07,81.32,2.54,39753.244
199,United States,North America,3.310026e+08,78.86,2.77,54225.446
205,Vietnam,Asia,9.733858e+07,75.40,2.60,6171.884

In [22]:
countries_df['GDP']= countries_df.population*countries_df.gdp_per_capita

In [23]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,GDP
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

In [24]:
country_counts_df = countries_df.groupby('continent')['location'].count()

In [25]:
country_counts_df

continent
Africa           55
Asia             47
Europe           51
North America    36
Oceania           8
South America    13
Name: location, dtype: int64

In [26]:
continent_populations_df = countries_df.groupby('continent')['population'].sum()

In [27]:
continent_populations_df

continent
Africa           1.339424e+09
Asia             4.607388e+09
Europe           7.485062e+08
North America    5.912425e+08
Oceania          4.095832e+07
South America    4.304611e+08
Name: population, dtype: float64

In [28]:
urlretrieve('https://gist.githubusercontent.com/aakashns/b2a968a6cfd9fbbb0ff3d6bd0f26262b/raw/b115ed1dfa17f10fc88bf966236cd4d9032f1df8/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x18fe01cd300>)

In [29]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [30]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

In [31]:
total_tests_missing = covid_data_df.isna()

In [32]:
print("The data for total tests is missing for {} countries.".format(total_tests_missing))

The data for total tests is missing for      location  total_cases  total_deaths  total_tests
0       False        False         False         True
1       False        False         False         True
2       False        False         False         True
3       False        False         False         True
4       False        False         False         True
..        ...          ...           ...          ...
207     False        False         False         True
208     False        False         False         True
209     False        False         False         True
210     False        False         False         True
211     False        False         False        False

[212 rows x 4 columns] countries.

In [33]:
combined_df = covid_data_df.merge(countries_df, on='location')

In [34]:
combined_df

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,GDP
0,Afghanistan,38243.0,1409.0,NaN,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,9728.0,296.0,NaN,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,45158.0,1525.0,NaN,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,1199.0,53.0,NaN,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,2729.0,109.0,NaN,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,1046.0,35.0,261004.0,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,766.0,1.0,NaN,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,1976.0,571.0,NaN,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,12415.0,292.0,NaN,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,6638.0,206.0,97272.0,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

In [35]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [36]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [37]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [38]:
combined_df

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,GDP,tests_per_million,cases_per_million,deaths_per_million
0,Afghanistan,38243.0,1409.0,NaN,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,NaN,982.394806,36.194710
1,Albania,9728.0,296.0,NaN,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,NaN,3380.359997,102.856349
2,Algeria,45158.0,1525.0,NaN,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,NaN,1029.804468,34.776824
3,Andorra,1199.0,53.0,NaN,Europe,77265.0,83.73,NaN,NaN,NaN,NaN,15518.022390,685.950948
4,Angola,2729.0,109.0,NaN,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,NaN,83.033462,3.316470
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,1046.0,35.0,261004.0,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,2681.403324,10.745996,0.359570
206,Western Sahara,766.0,1.0,NaN,Africa,597330.0,70.26,NaN,NaN,NaN,NaN,1282.373228,1.674116
207,Yemen,1976.0,571.0,NaN,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,NaN,66.250993,19.144391
208,Zambia,12415.0,292.0,NaN,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,NaN,675.317108,15.883415
209,Zimbabwe,6638.0,206.0,97272.0,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6544.605918,446.614587,13.859989

In [39]:
highest_tests_df = combined_df[combined_df.tests_per_million > 50000]

In [40]:
highest_tests_df

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,GDP,tests_per_million,cases_per_million,deaths_per_million
10,Australia,25923.0,663.0,6255797.0,Oceania,25499881.0,83.44,3.840,44648.710,1.138537e+12,245326.517406,1016.592979,26.000121
11,Austria,28183.0,734.0,1210568.0,Europe,9006400.0,81.54,7.370,45436.686,4.092210e+11,134411.973708,3129.219222,81.497602
14,Bahrain,52440.0,190.0,1118837.0,Asia,1701583.0,77.29,2.000,43290.705,7.366273e+10,657527.137965,30818.361490,111.660730
17,Belarus,72141.0,691.0,1534792.0,Europe,9449321.0,74.79,11.000,17167.967,1.622256e+11,162423.522283,7634.516808,73.126947
18,Belgium,85817.0,9898.0,2281853.0,Europe,11589616.0,81.63,5.640,42658.576,4.943965e+11,196887.713967,7404.645676,854.040375
30,Bulgaria,16454.0,642.0,415797.0,Europe,6948445.0,75.05,7.454,18563.307,1.289861e+11,59840.295203,2368.011836,92.394773
35,Canada,129923.0,9135.0,5545473.0,North America,37742157.0,82.43,2.500,44017.591,1.661319e+12,146930.473529,3442.384069,242.037041
40,Chile,414739.0,11344.0,2458762.0,South America,19116209.0,80.18,2.110,22767.037,4.352194e+11,128621.841287,21695.671982,593.423100
42,Colombia,633339.0,20348.0,2647702.0,South America,50882884.0,77.29,1.710,13254.949,6.744500e+11,52035.218758,12446.994946,399.898716
51,Czech Republic,25773.0,425.0,910872.0,Europe,10708982.0,79.38,6.630,32605.906,3.491761e+11,85056.824262,2406.671334,39.686312
53,Denmark,17195.0,626.0,2447911.0,Europe,5792203.0,80.90,2.500,46682.515,2.703946e+11,422621.755488,2968.645954,108.076323
62,Estonia,2415.0,64.0,151940.0,Europe,1326539.0,78.74,4.690,29481.252,3.910803e+10,114538.660379,1820.526950,48.245849
67,Finland,8161.0,336.0,688714.0,Europe,5540718.0,81.91,3.280,40585.721,2.248740e+11,124300.496795,1472.913799,60.641960
73,Germany,246116.0,9321.0,11208091.0,Europe,83783945.0,81.33,8.000,45229.245,3.789485e+12,133773.731948,2937.507896,111.250431
76,Greece,10757.0,273.0,966346.0,Europe,10423056.0,82.24,4.210,24574.382,2.561402e+11,92712.348471,1032.038972,26.191934
87,Hong Kong,NaN,NaN,780410.0,Asia,7496988.0,84.86,NaN,56054.920,4.202431e+11,104096.471810,NaN,NaN
89,Iceland,2121.0,10.0,88829.0,Europe,341250.0,82.99,2.910,46482.958,1.586231e+10,260304.761905,6215.384615,29.304029
94,Ireland,29114.0,1777.0,844706.0,Europe,4937796.0,82.30,2.960,67335.293,3.324879e+11,171069.440698,5896.152858,359.877160
96,Israel,122539.0,969.0,2353984.0,Asia,8655541.0,82.97,2.990,33132.320,2.867782e+11,271962.665303,14157.289533,111.951408
97,Italy,271515.0,35497.0,5214766.0,Europe,60461828.0,83.51,3.180,35220.084,2.129471e+12,86248.897403,4490.684602,587.097697
102,Kazakhstan,132354.0,1889.0,2434444.0,Asia,18776707.0,73.60,6.700,24055.588,4.516847e+11,129652.339998,7048.839821,100.603370
105,Kuwait,86478.0,535.0,621616.0,Asia,4270563.0,75.49,2.000,65530.537,2.798523e+11,145558.325682,20249.789079,125.276222
108,Latvia,1406.0,34.0,256350.0,Europe,1886202.0,75.29,5.570,25063.846,4.727548e+10,135908.031059,745.413270,18.025641
114,Lithuania,2958.0,86.0,648863.0,Europe,2722291.0,75.93,6.560,29524.265,8.037364e+10,238351.814703,1086.584792,31.591039
115,Luxembourg,7928.0,124.0,385820.0,Europe,625976.0,82.25,4.510,94277.965,5.901574e+10,616349.508607,12665.022301,198.090662
120,Maldives,8140.0,29.0,113885.0,Asia,540542.0,78.92,NaN,15183.616,8.207382e+09,210686.681146,15058.959341,53.649855
122,Malta,1931.0,13.0,188539.0,Europe,441539.0,82.53,4.485,36513.323,1.612206e+10,427004.183096,4373.339614,29.442473
131,Morocco,65453.0,1216.0,1956416.0,Africa,36910558.0,76.68,1.100,7485.013,2.762760e+11,53004.237974,1773.286657,32.944503
136,Netherlands,71971.0,6226.0,1464715.0,Europe,17134873.0,82.28,3.320,48472.545,8.305709e+11,85481.520639,4200.264572,363.352562
138,New Zealand,1408.0,22.0,777560.0,Oceania,4822233.0,82.29,2.610,36085.843,1.740143e+11,161244.800904,291.980914,4.562202
143,Norway,10871.0,264.0,711225.0,Europe,5421242.0,82.40,3.600,64800.057,3.512968e+11,131192.261847,2005.260049,48.697328
147,Panama,94084.0,2030.0,336345.0,North America,4314768.0,78.51,2.300,22267.037,9.607710e+10,77952.047480,21805.112117,470.477208
152,Poland,68517.0,2078.0,2628272.0,Europe,37846605.0,78.73,6.620,27216.445,1.030050e+12,69445.383542,1810.386955,54.905850
153,Portugal,58633.0,1827.0,2058544.0,Europe,10196707.0,82.05,3.390,27936.896,2.848643e+11,201883.215826,5750.189743,179.175493
155,Qatar,119206.0,199.0,634745.0,Asia,2881060.0,80.23,1.200,116935.600,3.368985e+11,220316.480740,41375.743650,69.071800
156,Romania,89891.0,3721.0,1825272.0,Europe,19237682.0,76.05,6.892,23313.199,4.484919e+11,94880.038042,4672.652350,193.422472
157,Russia,1005000.0,17414.0,37176827.0,Europe,145934460.0,72.58,8.050,24765.954,3.614206e+12,254750.159763,6886.653091,119.327539
164,Saudi Arabia,317486.0,3956.0,5160518.0,Asia,34813867.0,75.13,2.700,49045.411,1.707460e+12,148231.680209,9119.526998,113.632881
166,Serbia,31581.0,716.0,931037.0,Europe,6804596.0,76.00,5.609,14048.881,9.559696e+10,136824.728463,4641.127849,105.222999
169,Singapore,56860.0,27.0,805214.0,Asia,5850343.0,83.62,2.400,85535.383,5.004113e+11,137635.348902,9719.088265,4.615114
171,Slovakia,4042.0,33.0,340123.0,Europe,5459643.0,77.54,5.820,30155.152,1.646364e+11,62297.663052,740.341447,6.044351
172,Slovenia,2988.0,128.0,160479.0,Europe,2078932.0,81.32,4.500,31400.840,6.528021e+10,77193.001022,1437.276448,61.570075
174,South Africa,630595.0,14389.0,3705408.0,Africa,59308690.0,64.13,2.320,12294.876,7.291930e+11,62476.645497,10632.421657,242.612002
177,Spain,479554.0,29194.0,6416533.0,Europe,46754783.0,83.56,2.970,34272.360,1.602397e+12,137238.001939,10256.790198,624.406705
183,Switzerland,42655.0,1726.0,1023203.0,Europe,8654618.0,83.78,4.530,57410.166,4.968631e+11,118226.246381,4928.582636,199.431101
193,Turkey,273301.0,6462.0,7247935.0,Asia,84339067.0,77.69,2.810,25129.341,2.119385e+12,85938.050512,3240.503004,76.619297
197,United Arab Emirates,71540.0,387.0,7177430.0,Asia,9890400.0,77.97,1.200,67293.483,6.655595e+11,725696.635121,7233.276713,39.128852
198,United Kingdom,338676.0,41514.0,13447568.0,Europe,67886004.0,81.32,2.540,39753.244,2.698689e+12,198090.434075,4988.892850,611.525168
199,United States,6114406.0,185744.0,83898416.0,North America,331002647.0,78.86,2.770,54225.446,1.794877e+13,253467.507769,18472.377957,561.155633
201,Uruguay,1626.0,44.0,175080.0,South America,3473727.0,77.91,2.800,20551.409,7.138998e+10,50401.197331,468.085143,12.666511

In [41]:
highest_cases_df = combined_df[combined_df.cases_per_million > 15000]

In [42]:
highest_cases_df

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,GDP,tests_per_million,cases_per_million,deaths_per_million
3,Andorra,1199.0,53.0,NaN,Europe,77265.0,83.73,NaN,NaN,NaN,NaN,15518.022390,685.950948
9,Aruba,2211.0,12.0,NaN,North America,106766.0,76.29,NaN,35973.781,3.840777e+09,NaN,20708.839893,112.395332
14,Bahrain,52440.0,190.0,1118837.0,Asia,1701583.0,77.29,2.00,43290.705,7.366273e+10,657527.137965,30818.361490,111.660730
27,Brazil,3997865.0,123780.0,4797948.0,South America,212559409.0,75.88,2.20,14103.452,2.997821e+12,22572.268255,18808.224105,582.331314
40,Chile,414739.0,11344.0,2458762.0,South America,19116209.0,80.18,2.11,22767.037,4.352194e+11,128621.841287,21695.671982,593.423100
105,Kuwait,86478.0,535.0,621616.0,Asia,4270563.0,75.49,2.00,65530.537,2.798523e+11,145558.325682,20249.789079,125.276222
120,Maldives,8140.0,29.0,113885.0,Asia,540542.0,78.92,NaN,15183.616,8.207382e+09,210686.681146,15058.959341,53.649855
144,Oman,85928.0,689.0,NaN,Asia,5106622.0,77.86,1.60,37960.709,1.938510e+11,NaN,16826.779033,134.922851
147,Panama,94084.0,2030.0,336345.0,North America,4314768.0,78.51,2.30,22267.037,9.607710e+10,77952.047480,21805.112117,470.477208
150,Peru,663437.0,29259.0,584232.0,South America,32971846.0,76.74,1.60,12236.706,4.034668e+11,17719.117092,20121.318048,887.393445
155,Qatar,119206.0,199.0,634745.0,Asia,2881060.0,80.23,1.20,116935.600,3.368985e+11,220316.480740,41375.743650,69.071800
162,San Marino,735.0,42.0,NaN,Europe,33938.0,84.97,3.80,56861.470,1.929765e+09,NaN,21657.139490,1237.550828
199,United States,6114406.0,185744.0,83898416.0,North America,331002647.0,78.86,2.77,54225.446,1.794877e+13,253467.507769,18472.377957,561.155633

In [43]:
highest_deaths_df = combined_df[combined_df.deaths_per_million > 500]

In [44]:
highest_deaths_df

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,GDP,tests_per_million,cases_per_million,deaths_per_million
3,Andorra,1199.0,53.0,NaN,Europe,77265.0,83.73,NaN,NaN,NaN,NaN,15518.022390,685.950948
18,Belgium,85817.0,9898.0,2281853.0,Europe,11589616.0,81.63,5.64,42658.576,4.943965e+11,196887.713967,7404.645676,854.040375
27,Brazil,3997865.0,123780.0,4797948.0,South America,212559409.0,75.88,2.20,14103.452,2.997821e+12,22572.268255,18808.224105,582.331314
40,Chile,414739.0,11344.0,2458762.0,South America,19116209.0,80.18,2.11,22767.037,4.352194e+11,128621.841287,21695.671982,593.423100
97,Italy,271515.0,35497.0,5214766.0,Europe,60461828.0,83.51,3.18,35220.084,2.129471e+12,86248.897403,4490.684602,587.097697
125,Mexico,610957.0,65816.0,1271295.0,North America,128932753.0,75.05,1.38,17336.469,2.235239e+12,9860.140037,4738.570967,510.467654
150,Peru,663437.0,29259.0,584232.0,South America,32971846.0,76.74,1.60,12236.706,4.034668e+11,17719.117092,20121.318048,887.393445
162,San Marino,735.0,42.0,NaN,Europe,33938.0,84.97,3.80,56861.470,1.929765e+09,NaN,21657.139490,1237.550828
177,Spain,479554.0,29194.0,6416533.0,Europe,46754783.0,83.56,2.97,34272.360,1.602397e+12,137238.001939,10256.790198,624.406705
182,Sweden,84532.0,5820.0,NaN,Europe,10099270.0,82.80,2.22,46949.283,4.741535e+11,NaN,8370.109919,576.279276
198,United Kingdom,338676.0,41514.0,13447568.0,Europe,67886004.0,81.32,2.54,39753.244,2.698689e+12,198090.434075,4988.892850,611.525168
199,United States,6114406.0,185744.0,83898416.0,North America,331002647.0,78.86,2.77,54225.446,1.794877e+13,253467.507769,18472.377957,561.155633